<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表</title>
    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <link rel="stylesheet" href="../lianxi/style/02.liebiao.css">
</head>

<body>
    <!-- 准备好一个容器 -->
    <!-- 列表 -->
    <div id="root">
        <table class="table">
            <thead>
                <tr>
                    <th class="th">序号</th>
                    <th class="th">项目名称</th>
                    <th class="th">图片数量</th>
                    <th class="th">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in list" :key="index">
                    <td class="td">{{index+1}}</td>
                    <td class="td">{{item.name}}</td>
                    <td class="td">{{item.count}}</td>
                    <td class="td">
                        <div class="todo">
                            <div class="ad" @click="gai(item,index)">修改</div>
                            <div class="ad" @click="del(item,index)">删除</div>
                        </div>
                    </td>
                </tr>
        </table>
		<div class="btnBox">
			<input v-model='editData.name' type="text" placeholder="name"/>
			<input  v-model='editData.count' type="text" placeholder="count"/>
			<button @click='edit'>修改</button>
		</div>
		<div class="btnBox">
			<input  v-model='addData.name' type="text" placeholder="name"/>
			<input  v-model='addData.count' type="text" placeholder="count"/>
			<button @click="add">添加</button>
		</div>
    </div>
</body>

</html>
<script type="text/javascript">
    Vue.config.productionTip = false//阻止vue在启动时生成生产提示

    new Vue({

        el: '#root',
        data () {
            return {
                list: [],
				testIndex:0,
				addData:{},
				editData:{},
				
            }
        },
        created () {
            this.list = [
				{  name: '345', count: 2},
				{ name: '456', count: 1},
				{ name: '789', count: 3},
				{ name: '963', count: 2}
			]


          
        },
        methods: {
            gai (item,index) {
			this.editData = JSON.parse(JSON.stringify(item))
			this.testIndex = index
            },
            del (item,index) {
			this.list.splice(index,1)
            },
			edit(){
				if(this.editData.name&&this.editData.count){
					//this.$set（需要改变的对象，需要改变的对象属性，新值）
					this.$set(this.list,this.testIndex,this.editData)
					this.editData={}
				}else{
					alert('填写完整数据')
				}
				
			},
			add(){
				if(this.addData.name&&this.addData.count){
					this.list.push(this.addData)
					this.addData={}
				}else{
					alert('填写完整数据')
				}
			}
			
        },

    })

</script>